@{
    Layout = "_Layout";
}

@model SweetSavory.Models.Treat

<div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Add Treat</h2>
        </div>
</div>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-8">
            <div class="form-group row">
                <div class="col-6">
                    @* @Html.LabelFor(model => model.Name) *@
                </div>
                <div class="col-6">
                    @Html.TextBoxFor(user => user.Name, new { placeholder = "Name", @class ="form-group" })
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-2 offset-4 row">

            <div class="col">
                <input type="submit" class="btn btn-info w-100" value="Create"/>
            </div>
        </div>
    </div>
    
}
<p class="btn btn-default w-30">@Html.ActionLink("Show all treat", "Index")</p>