@{
    Layout = "_Layout";
}

@model SweetSavory.Models.Treat

<div class="border p-3">
    
        <div class="form-group row">
            <h2 class="text-info pl-3">Edit</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <h4>@Html.DisplayFor(model => model.Name)</h4>
                    </div>
                </div>
            </div>
        </div>
</div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)
    @Html.EditorFor(model => model.Name)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>