@{
    Layout = "_Layout";
}

@model SweetSavory.Models.Flavor

<h4>Add a new flavor</h4>
@using (Html.BeginForm())
{
    @Html.TextBoxFor(user => user.Name, new { placeholder = "Name", @class ="form-group" })
    
    @Html.DropDownList("TreatId", null, new { placeholder = "Select Treat", @class ="form-group" })

    <input type="submit" value="Add new flavor" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all flavors", "Index")</p>