@{
  Layout = "_Layout";
}
<h1>Pierre's Sweet and Savory Treats</h1>
<div class="container">
    <div class="text-center">
        <button class="btn btn-dark filter-button" data-filter="all">All</button>
        
            <button class="btn btn-outline-secondary filter-button">
                @Html.ActionLink("See all treats", "Index", "Treats")
            </button>
            <button class="btn btn-outline-secondary filter-button">
                @Html.ActionLink("See all flavors", "Index", "Flavors")
            </button>  
        </button>
    </div>
    <br />
</div>