@{
    Layout = "_Layout";
}

<ul class="navbar-nav">
@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-dark">Hello @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        @using (Html.BeginForm("LogOff", "Account"))
        {
        <input type="submit" class="nav-link text-dark" value="Log out" />
        }
    </li>
}
else
{
    
    <p>@Html.ActionLink("Log in", "Login")</p>

    <p>@Html.ActionLink("Register", "Register")</p>

}
</ul>