@{
    Layout = "_Layout";
}

@using SweetSavory.ViewModels

@model LoginViewModels


<div class="row">
    <div class="col-md-4">
            @using (Html.BeginForm())
            {
                <h4>Use account to log in.</h4>
                <hr />
                <div class="form-group">   
                    @Html.TextBoxFor(user => user.Email, new { placeholder = "Email", @class ="form-group" })  
                </div>
                <div class="form-group">
                    @Html.PasswordFor(user => user.Password, new { placeholder = "Password", @class ="form-group" })
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Log in" class="btn btn-primary" />
                </div>
            }
    </div>
</div>

<p>@Html.ActionLink("Register", "Register")</p>